.background{
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../public/images/Img3.jpg') center center/cover no-repeat;
}

.container{
    width: 100%;
    height: 80vh;
    background-color:  rgb(192, 151, 110);
    display: grid;
    place-items: center;
    perspective: 100rem;
}

.calender-app{
    width: 40%;
    min-width: 90vmin;
    aspect-ratio: 3/2;
    background-color: rgb(192, 151, 110);
    padding: 2rem;
    border-radius: 1rem;
    border: 0.15rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    position: relative;
    transform-style: preserve-3d;
}

.calender-app::after{
    content: "";
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%) rotateX(50deg);
    width: 90%;
    height: 16rem;
    background-color: rgba(192,151,110, 0.5);
    border-radius: 20rem;
    filter: blur(4rem);
}

.calender{
    width: 100%;
    max-width: 40rem;
}

.heading{
    font-size: clamp(3rem, 3,8cqi, 6rem);
    color: white;
    letter-spacing: 0.05rem;
    padding-left: 0.8rem;
}

.navigate-date{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin: 2.5rem 0;
}

.navigate-date h2{
    font-size: clamp(1rem, 1.5cqi,2rem);
    color: wheat;
    padding-left: 0.8rem;
}

.buttons{
    display: flex;
    column-gap: 0.5rem;
    margin-left: auto;
}

.buttons i{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(192, 151, 110);
}

.weekdays{
    width: 100%;
    display: flex;
    margin: 2rem 0;
}

.weekdays span{
    width: calc(100%/7);
    font-size: clamp(0.5rem, .8cqi,1rem);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr); 
  gap: 0;
  height: 30rem;
}

.days span{
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);

}

.days span.past,
.days span.blocked {
  color: rgba(255, 255, 255, 0.35);
  cursor: not-allowed;
}

.current-date{
    background-color: rgb(22, 180, 219);
    border-radius: 50%;
    box-shadow:  0 0 0.1rem 0.4rem rgba(20, 170, 210, .3);
}

.event-popup-btn{
    width: clamp(12rem, 15cqi, 20rem);
    margin: 1rem auto;
    display: block;
    background-color:rgb(192, 151, 110);
    color: white;
    font-size: clamp(1rem, 1.5cqi,1.5rem);
    letter-spacing: .1rem;
    border: none;
    box-shadow: 0 0 1.3rem, rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.event-popup-btn:active{
    transform: translate(0.1rem);
    top: 1rem;
}

.time-input input[type = "number"]::-webkit-inner-spin-button{
    appearance: none;
}


.days span.today {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.15rem;
}

.blocked {
  color: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  background: none;
  text-shadow: none;
}

.past {
  color: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  background: none;
  text-shadow: none;
}


.selected-start,
.selected-end {
  background-color: rgba(41, 153, 161, 0.733);
  border-radius: 50%;
}

.selected-range {
  background-color: rgba(4, 34, 68, 0.25);
  border-radius: 50%;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: rgb(192, 151, 110);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 2rem rgba(0,0,0,0.5);
}

.popup-icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 1.5rem 0;
}

.popup-icons i {
  font-size: 5rem;
  color: white;
  cursor: pointer;
}

.popup-icons i:hover {
  transform: scale(1.1);
}

.prices {
  margin-left: 6rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.05rem;
}
